*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
header{
    background-color: #F1DFD5;
}
.osnheadercont{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.firstheaderbox{
    display: flex;
    align-items: center;
    gap: 100px;
}
.firstheaderbox nav{
    display: flex;
    gap: 20px;
}
.btnheaderbox{
    display: flex;
    gap: 25px;
    align-items: center;
}
.btnheaderbox button{
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
}
header i{
    display: none !important;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 25px;
    gap: 15px;
    background-color: #F1DFD5;
    position: relative;
}
.section1 img{
    position: absolute;
}
.section1 h1{
    font-size: 80px;
    width: 850px;
    text-align: center;
}
.section1 p{
    font-weight: 500;
    width: 570px;
    text-align: center
}
.sect1btndiv{
    display: flex;
    gap: 5px;
    margin-top: 50px;
}
.sect1btndiv button{
    padding: 15px;
    border: none;
    font-size: 16px;
    width: 200px;
}
.sect1btndiv button:first-child{
    background-color: black;
    color: white;
}
.sect1btndiv button:last-child{
    background-color: white;
    color: black;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sect1btndiv img{
    position: static;
}
.posimg1{
    left: 100px;
    top: 50px;
}
.posimg2{
    left: 250px;
    top: 115px;
}
.posimg3{
    left: 200px;
    top: 220px;
}
.posimg4{
    left: 350px;
    top: 300px;
}
.posimg5{
    left: 300px;
    top: 390px;
}
.posimg6{
    right: 325px;
    top: 70px;
}
.posimg7{
    right: 180px;
    top: 120px;
}
.posimg8{
    right: 350px;
    top: 230px;
}
.posimg9{
    right: 220px;
    top: 260px;
}
.posimg10{
    right: 210px;
    top: 450px;
}
.section2{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 50px 0px;
    gap: 50px;
}
.sect2firstcont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sect2firstcont h1{
    font-size: 36px;
}
.sect2firstcont p{
    font-weight: 500;
    width: 570px;
}
.sect2lastcont{
    display: flex;
    gap: 15px;
}
.sect2box{
    padding: 25px;
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}
.sect2box h2{
    font-size: 20px;
    font-weight: 900;
}
.sect2box p{
    font-size: 15.80px;
    color: #535353;
    font-weight: 500;
}
.sect2box h4{
    font-size: 12px;
    font-weight: 900;
}

.section3{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}
.sect3box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 605px;
}
.sect3box h1{
    font-size: 40px;
    font-weight: 600;
}
.sect3box p{
    font-size: 16px;
    font-weight: 500;
}
.section5{
    background-color: #88C9FD80;
    margin: 25px 0px;
    padding: 25px;
}
.sect5cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.sect5cont h2{
    font-weight: 800;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.sect5cont span{
    font-size: 16px;
    font-weight: 600;
}

.sect6box h2{
    font-size: 20px;
    font-weight: 800;
}



@media (max-width: 500px) {
    header nav, .btnheaderbox{
        display: none !important;
    }
    header i{
        display: block !important;
    }
    .section1 h1{
        font-size: 30px;
        width: 100%;
    }
    .section1 p{
        font-size: 12px;
        width: 100%;
    }
    .sect1btndiv button{
        font-size: 10px;
        padding: 10px;
        width: 150px;
    }
    .section1 img{
        display: none !important;
    }
    .sect2firstcont{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .sect2firstcont p{
        width: 80%;
        font-size: 14px;
    }
    .sect2lastcont{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .sect2box{
        width: 80%;
    }
    .section3{
        flex-direction: column;
        gap: 25px;
    }
    .section3 img{
        width: 100%;
    }
    .sect3box{
        width: 100%;
    }
    .sect3box h1{
        font-size: 26px;
    }
    .sect3box p{
        font-size: 12px;
    }
    .section4{
        flex-direction: column-reverse;
    }
    .sect5cont{
        flex-direction: column;
        gap: 100px;
    }
    .sect6box h2{
        font-size: 14px;
    }
}